<section class="p-9-rem">
    <h1>Espadas ninja reales </h1>
    <p>
        El arte del arte, la disciplina de la espada, el punto de combate principal, la habilidad de pelear con estas Espadas baratas ninjas
    </p>

    <p>
        Las espadas son la principal arma de estos asesinos, todo ninjas debe de saber manejar tanto las espadas de platico ninja como las autenticas, dado que esta será su principal arma, y si
        no encontrabas un arma digna pues aquí tenemos una gran variedad de ellas, no te puede faltar esto, seguro que alguna de estas te gustara, y sin duda la vas a comprar.
    </p>

    <p>
        Cómpralas porfa
    </p>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Armas reales ninja </h2>
        <p>
            Si Sasuke Uchiha de un solo brazo se veía genial, eso tu con dos brazos lo puedes superar.
        </p>
    </div>

    <app-card [card]="{
        title: 'Rubies Set Armas Ninjas para espalda',
        subtitle: 'Katanas para complementar disfraz ninja para niños. Talla única (6672)',
        imgUrl: 'https://m.media-amazon.com/images/I/71MNNOQaKIL._AC_UL320_.jpg',
        link: 'https://amzn.to/3C71BOb'}"></app-card>

    <app-card [card]="{
        title: 'Espada de juguetes para niños',
        subtitle: 'Set de espada Ninja doble plástico',
        imgUrl: 'https://m.media-amazon.com/images/I/71+E4mS2o7L._AC_UL320_.jpg',
        link: 'https://amzn.to/3A0386e'}"></app-card>

    <app-card [card]="{
        title: 'Simba Dickie- Arma de Juguete, Multicolor Toys 108042238',
        subtitle: '',
        imgUrl: 'https://m.media-amazon.com/images/I/81R1vMHweZL._AC_UL320_.jpg',
        link: 'https://amzn.to/3peZU9E'}"></app-card>

    <app-card [card]="{
        title: 'Juego Marca Rubie S',
        subtitle: 'Armas de Deadpool para Adulto',
        imgUrl: 'https://m.media-amazon.com/images/I/81uTDZuQL+L._AC_UL320_.jpg',
        link: 'https://amzn.to/3Pmw65V'}"></app-card>

    <app-card [card]="{
        title: 'Accesorios de Cobertura Espada Ninja 5+ años',
        subtitle: 'Ninja Armas Espada, Multicolor (206011)',
        imgUrl: 'https://m.media-amazon.com/images/I/51NRKNkKEAS._AC_UL320_.jpg',
        link: 'https://amzn.to/3QCAuP2'}"></app-card>


    <app-card *ngFor="let aword of awords" [card]="aword"></app-card>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>
</section>


<section>
    <h3>Autenticas espadas ninja</h3>
    <p>
        Si no sabes utilizar la espada entonces no eres un shinobi, un verdadero ninja tiene que saber utilizar cualquier cosas comno arma, principalmente la espada, así que para considerarte un verdadero ninjas tienes que comprar una espada de tortugas ninjas, nosotros en esta página tenemos una variedad de espadas de calidad y de buena marca, así no tendrás que sufrir ni perder tiempo en otros lugares.
    </p>
</section>