<section class="p-9-rem">
    <h1>Espadas ninja reales </h1>
    <p>
        El arte del arte, la disciplina de la espada, el punto de combate principal, la habilidad de pelear con estas Espadas baratas ninjas
    </p>

    <p>
        Las espadas son la principal arma de estos asesinos, todo ninjas debe de saber manejar tanto las espadas de platico ninja como las autenticas, dado que esta será su principal arma, y si
        no encontrabas un arma digna pues aquí tenemos una gran variedad de ellas, no te puede faltar esto, seguro que alguna de estas te gustara, y sin duda la vas a comprar.
    </p>

    <p>
        Cómpralas porfa
    </p>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Armas reales ninja </h2>
        <p>
            Si Sasuke Uchiha de un solo brazo se veía genial, eso tu con dos brazos lo puedes superar.
        </p>
    </div>

    <app-card [card]="{
        title: 'WIDMAN Katana Japonesa',
        subtitle: 'Corta con Funda Cualquier día, color/modelo surtido',
        imgUrl: 'https://m.media-amazon.com/images/I/710kyf85kmL._AC_UL320_.jpg',
        isProduct: true,
        link: 'https://www.amazon.es/WIDMAN-Katana-Japonesa-Corta-Cualquier/dp/B004X5I6MM/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=309TD01PI49YZ&keywords=espada+ninja&qid=1644622013&sprefix=espada+ninjas%2Caps%2C706&sr=8-1'}"></app-card>

    <app-card [card]="{
        title: 'Espada de Espuma Gomaespuma de Ninja Niños',
        subtitle: 'Katara 1771 - 55cm de Largo, Negro',
        imgUrl: 'https://m.media-amazon.com/images/I/71g+-KMSIHL._AC_UL320_.jpg',
        isProduct: true,
        link: 'https://www.amazon.es/Katara-1771-Espada-Espuma-Gomaespuma/dp/B078D7MH9L/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=309TD01PI49YZ&keywords=espada+ninja&qid=1644622013&sprefix=espada+ninjas%2Caps%2C706&sr=8-2'}"></app-card>

    <app-card [card]="{
        title: 'Juego Marca Rubie is',
        subtitle: 'Armas de Deadpool para Adulto - Talla única',
        imgUrl: 'https://m.media-amazon.com/images/I/81uTDZuQL+L._AC_UL320_.jpg',
        isProduct: true,
        link: 'https://www.amazon.es/Juego-Marca-RubieS-Deadpool-Adulto/dp/B00MWQLODW/ref=sr_1_4?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=309TD01PI49YZ&keywords=espada+ninja&qid=1644622013&sprefix=espada+ninjas%2Caps%2C706&sr=8-4'}"></app-card>

    <app-card [card]="{
        title: 'Liontouch 29500LT Espada de Juguete de Espuma samurái para niños',
        subtitle: 'Forma Parte de la línea de Disfraces para niños',
        imgUrl: 'https://m.media-amazon.com/images/I/81xX1ULUf0L._AC_UL320_.jpg',
        isProduct: true,
        link: 'https://www.amazon.es/Liontouch-29500LT-Juguete-samur%C3%A1i-Disfraces/dp/B07J6QKYNH/ref=sr_1_6?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=309TD01PI49YZ&keywords=espada+ninja&qid=1644622013&sprefix=espada+ninjas%2Caps%2C706&sr=8-6'}"></app-card>

    <app-card [card]="{
        title: 'My Other Me Me Me',
        subtitle: 'Ninja Armas Espada, Multicolor (206011)',
        imgUrl: 'https://m.media-amazon.com/images/I/414eKr5EFuL._AC_UL320_.jpg',
        isProduct: true,
        link: 'https://www.amazon.es/My-Other-Me-Multicolor-206011/dp/B07CNR8TQ7/ref=sr_1_7?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=309TD01PI49YZ&keywords=espada+ninja&qid=1644622013&sprefix=espada+ninjas%2Caps%2C706&sr=8-7'}"></app-card>


    <app-card *ngFor="let aword of awords" [card]="aword"></app-card>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>
</section>


<section>
    <h3>Autenticas espadas ninja</h3>
    <p>
        Si no sabes utilizar la espada entonces no eres un shinobi, un verdadero ninja tiene que saber utilizar cualquier cosas comno arma, principalmente la espada, así que para considerarte un verdadero ninjas tienes que comprar una espada de tortugas ninjas, nosotros en esta página tenemos una variedad de espadas de calidad y de buena marca, así no tendrás que sufrir ni perder tiempo en otros lugares.
    </p>
</section>