<section class="p-9-rem">
    <h1>Tienda online de productos de ninjas</h1>
    <p>
        Ya que eres nuevo por aquí te invito a seguir navegando, porque sé que nuestros productos son de la más alta calidad con un precio razonable, así que si buscas artículos con una personalidad y estilo únicos en su clase en esta tienda puedes identificarte,
        compra ahora dado que los mejores productos se agotan rápido.
    </p>

    <p>
        Seguramente te interesara un disfraz de ninja para esconder tu identidad, sacar el kakashi sensei con tan solo una máscara tipo bufanda, puedes llevarte también la camiseta de ninja que te luce más, estos productos
        de ninja te harán sentir como un niño en navidad.
    </p>

    <h2>¿Qué son los ninjas?</h2>
    <p>
        Pues son n grupo de luchadores especializados en el combate cercado, veloces sigilosos, peligrosos que suelen atacar desde la oscuridad para llevar a cabo el cumplimiento de sus misiones, provenientes del Japón estos guerreros utilizaban una gran variedad
        sus armas de combate físico apoyándose de sus destrezas en las artes marciales.
    </p>

    <h2>La tienda con productos ninjas</h2>
    <p>
        Son un grupo de mucha lealtad devoción y honor, todas están características se basan para cumplir un conjunto de ideales que en la actualidad es difícil de conseguir en una persona.
    </p>
</section>



<section class="section__card-grid">
    <div class="full-grid">
        <h3>Ropa de ninjas</h3>
        <p>
            Las mejores prendas que vas a encontrar con su respectiva temática de ninjas, tanto para salir con tus amigos o estar en casa.
        </p>
    </div>

    <app-card-home [card]="{
        title:'Sudaderas',
        subtitle:'Compralo ahora',
        content:'No solo te cubrirán del sol, si no que te harán lucir de una forma espectacula, Porque así son estas sudaderas',
        link:'/ropa/sudaderas',
        imgUrl:'https://m.media-amazon.com/images/I/61VQhA3Fs+L._AC_UL320_.jpg'
    }"></app-card-home>

    <app-card-home [card]="{
      title:'Camisetas',
      subtitle:'Compralo ahora',
      content:'Por más cambios que sufra la moda actual, estas camisetas siempre relucirán',
      link:'/ropa/camisetas',
      imgUrl:'https://m.media-amazon.com/images/I/61t2y+uAo4L._AC_UL320_.jpg'
    }"></app-card-home>

    <app-card-home [card]="{
        title:'Zapatos',
        subtitle:'Compralo ahora',
        content:'Para todo camino y lucir genial, mejor que estos zapatos no vas a encontrar nada',
        link:'/ropa/zapatos',
        imgUrl:'https://m.media-amazon.com/images/I/51408jBqJpL._AC_UL320_.jpg'
      }"></app-card-home>

    <app-card-home [card]="{
      title:'Pijamas',
      subtitle:'Compralo ahora',
      content:'Dormir con tranquilidad y con ganas de luchar, eso es lo que pasa cuando usas estas pijamas',
      link:'/ropa/pijamas',
      imgUrl:'https://m.media-amazon.com/images/I/91g-ATYoBOL._AC_UL320_.jpg'
    }"></app-card-home>

    <app-card-home [card]="{
      title:'Disfraces',
      subtitle:'Compralo ahora',
      content:'La fantasía es traída a la vida, cuando se trata de un disfraz de ninja muy realista',
      link:'/ropa/disfraces',
      imgUrl:'https://m.media-amazon.com/images/I/71DgAGasAdL._AC_UL320_.jpg'
    }"></app-card-home>

    <div class="full-grid">
        <h3> Accesorios de ninjas</h3>

        <p>
            Para ser auténticos ninjas deben vivir, pensar, respirar y soñar como tal, y estos accesorios son los que debes usar día a día.
        </p>
    </div>

    <app-card-home [card]="{
        title:'Máscaras',
        subtitle:'Compralo ahora',
        content:'Causales miedo con tan solo una vista y luce misterioso con estas máscaras de ninjas',
        link:'/accesorios/mascaras',
        imgUrl:'https://m.media-amazon.com/images/I/51LumusnOsL._AC_UL320_.jpg'
      }"></app-card-home>

    <app-card-home [card]="{
      title:'Espadas',
      subtitle:'Compralo ahora',
      content:'El arte de las katana es lo principal, y con esto los objetivos con Cristo rey llevar',
      link:'/accesorios/espadas',
      imgUrl:'https://m.media-amazon.com/images/I/414eKr5EFuL._AC_UL320_.jpg'
    }"></app-card-home>

    <app-card-home [card]="{
        title:'Fundas móviles',
        subtitle:'Compralo ahora',
        content:'A pesar de que le des muchos coñazos la funda sigue aguantando',
        link:'/accesorios/fundas-moviles',
        imgUrl:'https://m.media-amazon.com/images/I/31QYEBOqtzL._AC_UL320_.jpg'
      }"></app-card-home>

    <app-card-home [card]="{
        title:'Mochilas',
        subtitle:'Compralo ahora',
        content:'Muestra una actitud genial con tu mochila pavita',
        link:'/accesorios/mochilas',
        imgUrl:'https://m.media-amazon.com/images/I/71e5aIlhUhL._AC_UL320_.jpg'
      }"></app-card-home>

    <div class="full-grid">
        <h3> Artículos domésticos para el hogar de ninjas</h3>

        <p>
            Estos productos son indispensables para un fanático ninja como tú.
        </p>
    </div>

    <app-card-home [card]="{
        title:'Lámparas',
        subtitle:'Compralo ahora',
        content:'No pierdas más tiempo en comprar tu lámpara de ninja, ella será tu mejor amiga',
        link:'/hogar/lamparas',
        imgUrl:'https://m.media-amazon.com/images/I/51QojoYXTRL._AC_UL320_.jpg'
      }"></app-card-home>

    <app-card-home [card]="{
        title:'Sábanas',
        subtitle:'Compralo ahora',
        content:'Compra sábanas ninja, es hora de mimir con sábanas que cumplan tus estándares de diseño y tema',
        link:'/hogar/sabanas',
        imgUrl:'https://m.media-amazon.com/images/I/811pQi8fQUL._AC_UL320_.jpg'
      }"></app-card-home>


    <app-card-home [card]="{
      title:'Tazas',
      subtitle:'Compralo ahora',
      content:'Disfruta de una buena taza de café por las mañanas',
      link:'/hogar/tazas',
      imgUrl:'https://m.media-amazon.com/images/I/418XI+rlb-L._AC_UL320_.jpg'
    }"></app-card-home>


</section>


<section>
    <h4 style="font-size: 20px;">¿Porqué comprar cosas de ninjas?</h4>
    <p>
        Nosotros nos especializamos en catalogar artículos de ninjas, solo nos centramos en eso mientras que otras tiendas se dedican a vender de todo, en esos lugares generalmente se gasta más tiempo en hallar algo que te guste y sus precios suelen ser devastadores.
    </p>

    <p>
        Pero aquí todo es lo contrario, como solo tenemos esa categoría los tiempos en los que puedes encontrar lo que quieres son menores al igual que nuestros precios.
    </p>
</section>