<section class="p-9-rem">
    <h1>Tienda online de productos {{ getName }}</h1>
    <p>
        Ya que eres nuevo por aquí te invito a seguir navegando, porque sé que nuestros productos son de la más alta calidad con un precio razonable, así que si buscas artículos con una personalidad y estilo únicos en su clase en esta tienda puedes identificarte,
        compra ahora dado que los mejores productos se agotan rápido.
    </p>

    <p>
        Seguramente te interesara un disfraz {{ getName.replace('s','') }} para esconder tu identidad, sacar el kakashi sensei con tan solo una máscara tipo bufanda, puedes llevarte también la camiseta {{ getName.replace('s','') }} que te luce más, estos productos
        {{ getName.replace('s','') }} te harán sentir como un niño en navidad.
    </p>

    <h2>¿Qué son los {{ getName.slice(3) }}?</h2>
    <p>
        Pues son n grupo de luchadores especializados en el combate cercado, veloces sigilosos, peligrosos que suelen atacar desde la oscuridad para llevar a cabo el cumplimiento de sus misiones, provenientes del Japón estos guerreros utilizaban una gran variedad
        sus armas de combate físico apoyándose de sus destrezas en las artes marciales.
    </p>

    <h2>La tienda con productos {{ getName.slice(3) }} para {{ getName.slice(3) }} y no {{ getName.slice(3) }}</h2>
    <p>
        Son un grupo de mucha lealtad devoción y honor, todas están características se basan para cumplir un conjunto de ideales que en la actualidad es difícil de conseguir en una persona.
    </p>
</section>



<section class="section__card-grid">
    <div class="full-grid">
        <h3>Ropa {{ getName }}</h3>
        <p>
            Las mejores prendas que vas a encontrar con su respectiva temática {{ getName }}, tanto para salir con tus amigos o estar en casa.
        </p>
    </div>

    <app-card-home *ngFor="let clothing of clothings" [card]="clothing"></app-card-home>

    <div class="full-grid">
        <h3> Accesorios {{ getName }}</h3>

        <p>
            Para ser auténticos {{ getName.slice(3) }} deben vivir, pensar, respirar y soñar como tal, y estos accesorios son los que debes usar día a día.
        </p>
    </div>

    <app-card-home *ngFor="let accessorie of accessories" [card]="accessorie"></app-card-home>

    <div class="full-grid">
        <h3> Artículos domésticos para el hogar {{ getName }}</h3>

        <p>
            Estos productos son indispensables para un fanático {{ getName.slice(3).replace('s','') }} como tú.
        </p>
    </div>

    <app-card-home *ngFor="let house of home" [card]="house"></app-card-home>


</section>


<section>
    <h4 style="font-size: 20px;">¿Porqué comprar cosas de {{ getName.slice(3) }}?</h4>
    <p>
        Nosotros nos especializamos en catalogar artículos {{ getName }}, solo nos centramos en eso mientras que otras tiendas se dedican a vender de todo, en esos lugares generalmente se gasta más tiempo en hallar algo que te guste y sus precios suelen ser devastadores.
    </p>

    <p>
        Pero aquí todo es lo contrario, como solo tenemos esa categoría los tiempos en los que puedes encontrar lo que quieres son menores al igual que nuestros precios.
    </p>
</section>