<mat-card>
    <mat-card-header>
        <img [src]="card.imgUrl" [alt]="card.title + 'de ninjas'">
    </mat-card-header>

    <mat-card-title> {{ card.title  + ' de ninjas' }} </mat-card-title>

    <mat-card-subtitle class="text-c"> {{ card.subtitle }} </mat-card-subtitle>

    <mat-card-content *ngIf="card.content">{{ card.content }} </mat-card-content>

    <mat-card-actions>
        <a mat-raised-button [routerLink]="card.link" color="primary">Ver {{ card.title }}</a>
    </mat-card-actions>

</mat-card>