<section class="p-9-rem">
    <h1>Disfraces {{ getName }} para niños</h1>
    <p>
        Quieres impresionar a tus amigos siendo un verdadero shinobi, pues disfrázate como uno, en esta ocasión te traemos una serie de disfraces {{ getName }} que definitivamente vas a querer tener para jugar, como en un mundo de fantasía. Tenemos un disfraz
        de ninja negro y disfraz de ninja rojo que se te verían muy chulo.
    </p>

    <p>
        Estos difractes te servirán tanto para fiestas o halloween, son bastante realistas y detallistas en cuanto a el diseño y los objetos que traen consigo.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Disfraces baratos</h2>
        <p>
            Para un shinobi la presencia es bastante importante, y eso se recalca con estos disfraces.
        </p>
    </div>

    <app-card [card]="{
        title: 'Rubies - Disfraz ninja dragon silver para niño',
        subtitle: 'L 8-10 años (Rubies 641142-L) , color/modelo surtido',
        link: 'https://www.amazon.es/Rubies-Disfraz-dragon-infantil-641142-L/dp/B078NJ3RP6/ref=sr_1_1?keywords=Disfraces+ninja&qid=1644534914&sr=8-1',
        imgUrl: 'https://m.media-amazon.com/images/I/81N1TjuArOL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Rubies Disfraz ninja dragon',
        subtitle: 'No tengo un subtitulo pero por favor cómprame',
        link: 'https://www.amazon.es/Rubies-Disfraz-ninja-dragon-641143-L/dp/B078NFJVCQ/ref=sr_1_2?keywords=Disfraces+ninja&qid=1644534914&sr=8-2',
        imgUrl: 'https://m.media-amazon.com/images/I/71CsezmpuxL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'TIZORAX - diseño de gato ninja',
        subtitle: 'Juego de funda de edredón de microfibra de 3 piezas',
        link: 'https://www.amazon.es/TIZORAX-edred%C3%B3n-microfibra-piezas-dise%C3%B1o/dp/B08KJJ38SQ/ref=sr_1_19?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1IMS0E8MNN9U&keywords=sabanas+ninja&qid=1644532710&sprefix=sabanas+nin%2Caps%2C265&sr=8-19',
        imgUrl: 'https://m.media-amazon.com/images/I/61-RP-WXfzL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'UOUL 3 Pedazos del lecho de poliéster impresión 3D 1 Cubierta del edredón',
        subtitle: '2 Fundas de Almohada de Terror Sangriento del patrón del Zombi otoño Invierno,Zombie,Double',
        link: 'https://www.amazon.es/UOUL-poli%C3%A9ster-impresi%C3%B3n-Cubierta-Sangriento/dp/B07Y2VX978/ref=sr_1_11?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3IDGUJFNM3209&keywords=sabanas+zombie&qid=1644533334&s=kitchen&sprefix=sabanas+zombie%2Ckitchen%2C286&sr=1-11',
        imgUrl: 'https://m.media-amazon.com/images/I/61KAU7FVgQL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'WIDMAN Ninja - Niños Disfraz',
        subtitle: 'Grande - 158cm , color/modelo surtido',
        link: 'https://www.amazon.es/WIDMAN-Ninja-Ni%C3%B1os-Disfraz-Grande/dp/B003Y7JJN0/ref=sr_1_4?keywords=Disfraces+ninja&qid=1644534914&sr=8-4',
        imgUrl: 'https://m.media-amazon.com/images/I/71DgAGasAdL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'WIDMAN Red Dragon Ninja',
        subtitle: 'Niños Disfraz - Pequeño - Edad 5-7 - 128cm',
        link: 'https://www.amazon.es/WIDMAN-Red-Dragon-Ninja-Disfraz/dp/B019MOZNF6/ref=sr_1_5?keywords=Disfraces+ninja&qid=1644534914&sr=8-5',
        imgUrl: 'https://m.media-amazon.com/images/I/7132bgSHesL._AC_UL320_.jpg'}"></app-card>


    <app-card *ngFor="let costume of costumes" [card]="costume"></app-card>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>

</section>


<section>
    <h3>Disfraz de ninja para hombres</h3>
    <p>
        Ya dijimos que la presencia es importante para los {{ getName.slice(3) }}, Miren de ejemplo a jiraiya enfrento dos terroristas con una prostituta en brazos y todavía salió ganando, porque el tenia la presencia más grande del mundo shinobi, la ropa también
        es importante para eso, si un {{ getName.slice(3).replace('s', '') }} se viste como vagabundo, no lo respetara nadie.
    </p>
</section>