<section class="p-9-rem">
    <h1>Disfraces {{ getName }} para niños</h1>
    <p>
        Quieres impresionar a tus amigos siendo un verdadero shinobi, pues disfrázate como uno, en esta ocasión te traemos una serie de disfraces {{ getName }} que definitivamente vas a querer tener para jugar, como en un mundo de fantasía. Tenemos un disfraz
        de ninja negro y disfraz de ninja rojo que se te verían muy chulo.
    </p>

    <p>
        Estos difractes te servirán tanto para fiestas o halloween, son bastante realistas y detallistas en cuanto a el diseño y los objetos que traen consigo.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Disfraces baratos</h2>
        <p>
            Para un shinobi la presencia es bastante importante, y eso se recalca con estos disfraces.
        </p>
    </div>

    <app-card-home *ngFor="let costume of costumes" [card]="costume"></app-card-home>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>

</section>


<section>
    <h3>Disfraz de ninja para hombres</h3>
    <p>
        Ya dijimos que la presencia es importante para los {{ getName.slice(3) }}, Miren de ejemplo a jiraiya enfrento dos terroristas con una prostituta en brazos y todavía salió ganando, porque el tenia la presencia más grande del mundo shinobi, la ropa también
        es importante para eso, si un {{ getName.slice(3).replace('s', '') }} se viste como vagabundo, no lo respetara nadie.
    </p>
</section>