<section class="p-9-rem">
    <h1> Máscaras de ninjas para niños </h1>
    <p>
        No permitas que nadie conozca tu verdadera identidad, esto es posible gracias a las máscaras de samurai o una máscaras ninja, los ninjas somos misteriosos, sigilosos y regularmente usamos camuflaje para que nadie
        nos descubra, ya sea que usemos máscara o disfraz, nunca nadie descubre la identidad.
    </p>

    <p>
        Conviértete en un ser misterioso cubriendo tu rostro, no sería una buena que los demás tomen interés por ti, que una pequeña pieza de tu comportamiento o de tu cuerpo cause intriga, la curiosidad que los demás tendrán te harás mas popular.
    </p>

    <p>
        ¿Quieres comprar una?
    </p>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Máscaras baratas </h2>
        <p>
            Máscaras tradicionales ninja.
        </p>
    </div>

    <app-card [card]="{
        title: 'Dakine Hunter Balaclava',
        subtitle: 'Gorro para Casco, Color Negro',
        link: 'https://www.amazon.es/GripGrab-Maske-Balaclava-ciclismo-hombre/dp/B00NNHBI3A/ref=sr_1_48?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3PFFELM94JCBH&keywords=mascara+ninja&qid=1644624054&sprefix=mascara+ninja+%2Caps%2C246&sr=8-48',
        imgUrl: 'https://m.media-amazon.com/images/I/71uomCx3p9S._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'GripGrab Pasamontañas Térmico de Ciclismo',
        subtitle: 'Sotocasco Braga de Cuello Invierno Forro Polar Cabeza Hombre Mujer y Niños',
        link: 'https://www.amazon.es/Dakine-10001508-Hunter-Balaclava/dp/B01MTXQQ8J/ref=sr_1_55?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3PFFELM94JCBH&keywords=mascara+ninja&qid=1644624191&sprefix=mascara+ninja+%2Caps%2C246&sr=8-55',
        imgUrl: 'https://m.media-amazon.com/images/I/61ewYGautlL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Happyyami Máscaras de Kabuki Japonés de Kitsune Novedad',
        subtitle: 'Fiesta de Disfraces de Halloween para Disfraces de Halloween Suministros para Banquetes ( Y Rojo )',
        link: 'https://www.amazon.es/Happyyami-Disfraces-Halloween-Suministros-Banquetes/dp/B09BRHQBCB/ref=sr_1_6?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1F60T0WAK3WX5&keywords=mascara+ambu+naruto&qid=1644624354&sprefix=mascara+ambu+naruto%2Caps%2C228&sr=8-6',
        imgUrl: 'https://m.media-amazon.com/images/I/51LumusnOsL._AC_UL320_.jpg'
      }"></app-card>

    <app-card [card]="{
        title: 'LHGXQ-Dp Máscara Tobi Blanca Naruto Obito Uchiha, Anime Japonés',
        subtitle: 'Disfraces Fiesta, Accesorios De Disfraces, Máscara De Supervillano, Máscara Película, Cosplay,Blanco,28 * 18CM',
        link: 'https://www.amazon.es/LHGXQ-Dp-Disfraces-Accesorios-Supervillano-Pel%C3%ADcula/dp/B09F3H71BK/ref=sr_1_4?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1F60T0WAK3WX5&keywords=mascara%2Bambu%2Bnaruto&qid=1644624354&sprefix=mascara%2Bambu%2Bnaruto%2Caps%2C228&sr=8-4&th=1',
        imgUrl: 'https://m.media-amazon.com/images/I/51JR04N-5yL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'pidak shop Banda roja del ninja del pueblo',
        subtitle: 'No tengo un subtitulo pero por favor cómprame',
        link: 'https://www.amazon.es/pidak-shop-Banda-ninja-pueblo/dp/B092R58VM4/ref=sr_1_9?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1F60T0WAK3WX5&keywords=mascara+ambu+naruto&qid=1644624354&sprefix=mascara+ambu+naruto%2Caps%2C228&sr=8-9',
        imgUrl: 'https://m.media-amazon.com/images/I/31n5WDJTOHS._AC_UL320_.jpg'
      }"></app-card>

</section>


<section>
    <h3>Máscaras japonesa</h3>
    <p>
        Pues para complementar tu disfraz de ninja, la máscara es importante, pregúntale a Kakashi sensei, es nunca se quito la máscara y era uno de los más temimos por todos las naciones ninja, Kakashi hubiera sido en ninja
        de mucho esplendor, si no fuera por la técnica del mil años de dolor, pero aun así ese ninja infundía temor, y puedes usar una máscara anbu como multiusos, como cubrirte del sol, o para halloween o solo por diversión,
        mano hasta la puedes usar como un abanico.
    </p>

    <p>
        Son un producto original que yo se que tu quieres, así que cómpralo ahora.
    </p>
</section>