<section class="p-9-rem">
    <h1> Estrellas {{ getName }} </h1>
    <p>
        Las estrellas son una de las armas clásicas de los {{ getName.slice(3) }} todo {{ getName.slice(3).replace('s','') }} que se respecte las usa, hoy tenemos a un precio razonable un pack de autenticas estrellas {{ getName.slice(3) }}, para que practiques
        y perfecciones el arte el lanzamiento con ellas y afines tu puntería y dar siempre en el blanco hasta más no poder.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Autenticas Estrellas {{ getName }}</h2>
        <p>
            Estas estrellas son una oportunidad perfecta para desarrollar habilidades y destrezas.
        </p>
    </div>
    <app-card-home *ngFor="let star of stars" [card]="star"></app-card-home>
</section>

<section>
    <h3>¿Por qué comprar estrellas {{ getName.slice(3) }}?</h3>
    <p>
        Las estrellas {{ getName.slice(3) }} son los mejores proyectiles que un {{ getName.slice(3) }} puede tener, al ser más pequeños un equipaje de guerra puede llegar a tener una buena cantidad de estas, sin duda alguna las estrellas son un armamento que
        no le puede altar a ningún {{ getName.slice(3).replace('s', '') }}, dado con son utilizados como un instrumento mortal.
    </p>

    <p>
        Compra nuestro pack de estrellas {{ getName.slice(3) }}, para volverte un verdadero maestro {{ getName.slice(3).replace('s', '') }}.
    </p>
</section>