<section class="p-9-rem">
    <h1>Lámparas de ninjas baratas</h1>
    <p>
        Seguro que los clásicos bombillos de siempre ya te tienen casado no, ya es hora de probar algo diferente, es el momento de probar una de nuestras lámparas de ninja supremas, lo mejor que vas a conseguir para iluminar tu habitación
        personal, sala de estar, cocina o el área donde quieras alumbrar más, todo esto con nuestras genuinas lámparas de ninjas.
    </p>

    <p>
        Podrás iluminar más el área que con esos bombillos que se queman tan fácilmente y duran vivos tan poco tiempo, además de que tienen un diseño esquemático impresionante e impactante, tanta así que vas a quedar con la boca abierta.
    </p>

    <p>¿No te dan ganas comprarlas?</p>

</section>


<section class="section__card-grid">
    <div class="full-grid">
        <h2>Lámparas de animes</h2>
        <p>
            Veras mejor el lugar que antes con estas magnificas lámparas.
        </p>
    </div>

    <app-card [card]="{
        title: 'Deadpool Luz de la Noche 3D Lámpara de Mesa Ilusión Óptica',
        subtitle: 'Mesita de Noche Lampy Decoración LED Bulbing Sensor de Movimiento Luz Interruptor Táctil',
        link: 'https://www.amazon.es/Deadpool-L%C3%A1mpara-Decoraci%C3%B3n-Movimiento-Interruptor/dp/B0888WJSM9/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1S6TCVBJLIPKA&keywords=lamparas+deadpool&qid=1644359748&s=kitchen&sprefix=lamparas+deadpool%2Ckitchen%2C313&sr=1-2',
        imgUrl: 'https://m.media-amazon.com/images/I/613ysATXn2L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Lámpara 3D Ninja Rafael',
        subtitle: '3DLIGHTFX - Tortuga ninja roja',
        link: 'https://www.amazon.es/3DLIGHTFX-L%C3%A1mpara-3D-Ninja-Rafael/dp/B00HVJBJAI/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=15WNQTQQNE01L&keywords=lamparas+ninja&qid=1644359821&s=kitchen&sprefix=lamparas+ninja%2Ckitchen%2C329&sr=1-1',
        imgUrl: 'https://m.media-amazon.com/images/I/81cA1U7AOsL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: '3D Light FX RD-RS261002 3DLIGHTFX',
        subtitle: 'Lámpara 3D Ninja Leonardo, 10 W, Verde/Azul, único',
        link: 'https://www.amazon.es/3DLIGHTFX-L%C3%A1mpara-3D-Ninja-Leonardo/dp/B00HVKAS5E/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=15WNQTQQNE01L&keywords=lamparas+ninja&qid=1644359821&s=kitchen&sprefix=lamparas+ninja%2Ckitchen%2C329&sr=1-2',
        imgUrl: 'https://m.media-amazon.com/images/I/511cerP87GL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: 'Lámpara 3D Ninja Donatello',
        subtitle: '3DLIGHTFX - Tortuga ninja roja',
        link: 'https://www.amazon.es/3DLIGHTFX-L%C3%A1mpara-3D-Ninja-Donatello/dp/B00HVJQD8G/ref=sr_1_4?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=15WNQTQQNE01L&keywords=lamparas+ninja&qid=1644359821&s=kitchen&sprefix=lamparas+ninja%2Ckitchen%2C329&sr=1-4',
        imgUrl: 'https://m.media-amazon.com/images/I/81+XFFEmH4L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'JYDNBGLS 3D lámpara anime naruto uchiha Itachi',
        subtitle: 'LED noche luz con control remoto 16 colores lámpara de mesa niños dormitorio decoración',
        link: 'https://www.amazon.es/JYDNBGLS-l%C3%A1mpara-control-dormitorio-decoraci%C3%B3n/dp/B098LJ7Y8T/ref=sr_1_12?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=lampara+naruto&qid=1644358403&s=kitchen&sr=1-12',
        imgUrl: 'https://m.media-amazon.com/images/I/51uNI+Ja7zS._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Naruto Anime Whirlpool Naruto Statue Doll',
        subtitle: '3D Illusion Light Led 7 Color Usb Touch Control Remoto Lámpara Niño Niño Cumpleaños Regalo De Navidad',
        link: 'https://www.amazon.es/Whirlpool-Illusion-Control-L%C3%A1mpara-Cumplea%C3%B1os/dp/B084TYMW9B/ref=sr_1_15?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=lampara+naruto&qid=1644358403&s=kitchen&sr=1-15',
        imgUrl: 'https://m.media-amazon.com/images/I/71A0Q5jPkBL._AC_UL320_.jpg'}"></app-card>

    <app-card *ngFor="let lamp of lamps" [card]="lamp"></app-card>



    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>
</section>


<section>
    <h3>Lámparas baratas ninja</h3>
    <p>
        Puesto porque van a iluminar tu hogar mejor de lo que lo haría cualquier bombillo, eso es razón sufriente para comprarlos ahora, los mejores modelos se agotan rápidamente así que aprovecha ahora que puedes, hasta nuestro modelo más barato tiene un diseño
        arquitectónico encantador y emerge una luz despampanante.
    </p>

    <p>
        No pierdas más tiempo en comprar tu lámpara de ninja, ella será tu mejor amiga.
    </p>
</section>