<section class="p-9-rem">
    <h1>Lámparas de ninjas baratas</h1>
    <p>
        Seguro que los clásicos bombillos de siempre ya te tienen casado no, ya es hora de probar algo diferente, es el momento de probar una de nuestras lámparas de ninja supremas, lo mejor que vas a conseguir para iluminar tu habitación
        personal, sala de estar, cocina o el área donde quieras alumbrar más, todo esto con nuestras genuinas lámparas de ninjas.
    </p>

    <p>
        Podrás iluminar más el área que con esos bombillos que se queman tan fácilmente y duran vivos tan poco tiempo, además de que tienen un diseño esquemático impresionante e impactante, tanta así que vas a quedar con la boca abierta.
    </p>

    <p>¿No te dan ganas comprarlas?</p>

</section>


<section class="section__card-grid">
    <div class="full-grid">
        <h2>Lámparas de animes</h2>
        <p>
            Veras mejor el lugar que antes con estas magnificas lámparas.
        </p>
    </div>

    <app-card [card]="{
        title: 'Lámpara 3D Ninja Rafael',
        subtitle: '3DLIGHTFX - Tortuga ninja roja',
        link: 'https://amzn.to/3SBaBB0',
        imgUrl: 'https://m.media-amazon.com/images/I/81cA1U7AOsL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: '3D Light FX RD-RS261002 3DLIGHTFX',
        subtitle: 'Lámpara 3D Ninja Leonardo, 10 W, Verde/Azul, único',
        link: 'https://amzn.to/3Pciiuz',
        imgUrl: 'https://m.media-amazon.com/images/I/511cerP87GL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: 'Pantallas para lámpara infantil de 30 cm, diseño de tortuga ninja',
        subtitle: '2 para lámpara de techo, en 3 tamaños, personalización gratuita',
        link: 'https://amzn.to/3A7pi7I',
        imgUrl: 'https://m.media-amazon.com/images/I/81WCi23eR5L._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
    title: 'Lámpara de noche LED con impresión de estrellas japonesas Ninja con luz nocturna para niños',
    subtitle: 'luz nocturna de atardecer a amanecer, ideal para dormitorio, baño, escaleras, cocina, pasillo',
    link: 'https://amzn.to/3JIKjss',
    imgUrl: 'https://m.media-amazon.com/images/I/61HQCGZETZL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: 'Nickleodeon TMNT - Luz de estado de ánimo efecto 3D, multicolor',
        subtitle: 'luz nocturna con lámparas de tortuga',
        link: 'https://amzn.to/3BYoMKu',
        imgUrl: 'https://m.media-amazon.com/images/I/81bvIKVFVOL._AC_UL320_.jpg'}"></app-card>


    <app-card *ngFor="let lamp of lamps" [card]="lamp"></app-card>



    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>
</section>


<section>
    <h3>Lámparas baratas ninja</h3>
    <p>
        Puesto porque van a iluminar tu hogar mejor de lo que lo haría cualquier bombillo, eso es razón sufriente para comprarlos ahora, los mejores modelos se agotan rápidamente así que aprovecha ahora que puedes, hasta nuestro modelo más barato tiene un diseño
        arquitectónico encantador y emerge una luz despampanante.
    </p>

    <p>
        No pierdas más tiempo en comprar tu lámpara de ninja, ella será tu mejor amiga.
    </p>
</section>