<section class="p-9-rem">
    <h1>Bolsos de ninjas </h1>
    <p>
        Te gustaría tener un moral extravagante con una temática impresiónate, además de que sea llamativo pero al mismo tiempo puedas mantener la expectativa y atención de los demás, pues no busques más porque en esta tienda te traemos los mejores bolsos de ninjas que puedes encontrar.
    </p>

    <p>
        No es un bolso mas, es un bolso ninja.
    </p>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Bolsos ninja</h2>
        <p>
            Tan deseados y poco encontrados en el mercado de los bolsos.
        </p>
    </div>

    <app-card [card]="{
        title: 'Tortugas Ninja 2018 AS9834 Mochila Infantil, 24 cm, Multicolor',
        subtitle: 'Bolso de Tortugas ninja',
        link: 'https://www.amazon.es/Tortugas-Ninja-AS9834-Infantil-Multicolor/dp/B013X7IBIY/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3LOS3BYIYCCCS&keywords=mochilas+de+ninja&qid=1659456760&sprefix=mochilas+de+ninjas%2Caps%2C540&sr=8-1',
        imgUrl: 'https://m.media-amazon.com/images/I/71e5aIlhUhL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Montichelvo Tortugas Ninja Together Plumier de Cremallera Doble, Color Negro, 52109',
        subtitle: 'Mochila de Tortugas ninja',
        link: 'https://www.amazon.es/Montichelvo-Tortugas-Ninja-Together-Plumier/dp/B01BJ308KS/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3LOS3BYIYCCCS&keywords=mochilas+de+ninja&qid=1659456760&sprefix=mochilas+de+ninjas%2Caps%2C540&sr=8-2',
        imgUrl: 'https://m.media-amazon.com/images/I/A15u7pzP9FL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'TIZORAX Ninja - Mochila de piel sintética para mujer y niña',
        subtitle: 'Mochila de ninjas clásica',
        link: 'https://www.amazon.es/TIZORAX-Ninja-Mochila-sint%C3%A9tica-mujer/dp/B07VHZ67QZ/ref=sr_1_4?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3LOS3BYIYCCCS&keywords=mochilas+de+ninja&qid=1659456889&sprefix=mochilas+de+ninjas%2Caps%2C540&sr=8-4',
        imgUrl: 'https://m.media-amazon.com/images/I/61gHq1AALaL._AC_UL320_.jpg'
      }"></app-card>

    <app-card [card]="{
        title: 'Mochila de viaje con diseño de ninja de dibujos animados',
        subtitle: 'Bolso de platano ninja',
        link: 'https://www.amazon.es/Mochila-viaje-dise%C3%B1o-dibujos-animados/dp/B08NXFN82Q/ref=sr_1_51?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3LOS3BYIYCCCS&keywords=mochilas+de+ninja&qid=1659457113&sprefix=mochilas+de+ninjas%2Caps%2C540&sr=8-51',
        imgUrl: 'https://m.media-amazon.com/images/I/71CkKia8PrL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Mochila de Naruto',
        subtitle: 'Meridiem Games Naruto Switch Mochila Naruto',
        link: 'https://www.amazon.es/Konix-Naruto-Backpack-Mochila-Hombre/dp/B09FFHX3NZ/ref=sr_1_13?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3GNKMI0B0G98P&keywords=mochilas+de+itachi&qid=1659457270&sprefix=mochilas+de+ninja%2Caps%2C1812&sr=8-13',
        imgUrl: 'https://m.media-amazon.com/images/I/71891y10USL._AC_UL320_.jpg'
      }"></app-card>

</section>


<section>
    <h3>Los mejores bolsos ninjas</h3>
    <p>
        Tenemos una gran colección de bolso con temática de ninja a muy buen precio y de la mejor calidad que puedes encontrar, para que así disfrutes de lo mejor que te frecemos aquí.
    </p>

</section>