<section class="p-9-rem">
    <h1>Fundas de teléfono {{ getName }} </h1>
    <p>
        Los teléfonos son importantes y caros, no nos podemos dar el lujo de dañarlos, rallarles la pantalla o maltratarlos, y por eso el día de hoy te ofrecemos fundas de teléfono anime con su respectiva temática {{ getName }}, son baratos de buena calidad y
        de seguro algunos modelos te pueden interesar, lo más seguro es que al final del día compraras uno que te guste.
    </p>

    <p>
        Estas fundas telefono protegerán tu teléfono contra todo tipo de golpes, claro que eso no significa que vayas a darle coñazos a tu móvil solo para probarlos, a demás de darle protección tu teléfono lucirá mucho mas fachero de lo que era antes.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Fundas móviles baratas</h2>
        <p>Estas fundas son la mejor defensa “antiputasos” para tu teléfono.</p>
    </div>

    <app-card [card]="{
        title: 'Cokitec Carcasa para Samsung Galaxy A12',
        subtitle: 'Diseño de Manga Naruto, Color Negro',
        link: 'https://www.amazon.es/Carcasa-Samsung-Galaxy-Manga-Naruto/dp/B08YF4J7B9/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=26F8FOCXJ1PPI&keywords=fundas+movil+ninja&qid=1644624711&sprefix=fundas+movil+ninja%2Caps%2C255&sr=8-1',
        imgUrl: 'https://m.media-amazon.com/images/I/411tWNiLP6L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Cokitec Carcasa para Samsung Galaxy A12 Manga Naruto, Multicolor',
        subtitle: 'No tengo un subtitulo pero por favor cómprame',
        link: 'https://www.amazon.es/Carcasa-Samsung-Galaxy-Naruto-Blanco/dp/B08YF7DFJC/ref=sr_1_4?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=26F8FOCXJ1PPI&keywords=fundas+movil+ninja&qid=1644624711&sprefix=fundas+movil+ninja%2Caps%2C255&sr=8-4',
        imgUrl: 'https://m.media-amazon.com/images/I/41hNWLK0OaL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Spigen Funda Ultra Hybrid Compatible con iPhone 11 Pro - Verde Noche',
        subtitle: 'No tengo un subtitulo pero por favor cómprame',
        link: 'https://www.amazon.es/Spigen-Ultra-Hybrid-iPhone-Compatible/dp/B07Y1B8TVX/ref=sr_1_36?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=26F8FOCXJ1PPI&keywords=fundas+movil+ninja&qid=1644624711&sprefix=fundas+movil+ninja%2Caps%2C255&sr=8-36',
        imgUrl: 'https://m.media-amazon.com/images/I/61PbhMOuE4L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Cokitec Funda para Xiaomi Redmi Note 10 Pro 5G',
        subtitle: 'Manga Naruto Sasuke Itachi, Multicolor',
        link: 'https://www.amazon.es/Cokitec-Xiaomi-Naruto-Sasuke-Multicolor/dp/B09JWNCXZG/ref=sr_1_7?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=34WQLB5O0Q3W6&keywords=fundas+moviles+naruto&qid=1644625249&sprefix=fundas+moviles+naruto%2Caps%2C269&sr=8-7',
        imgUrl: 'https://m.media-amazon.com/images/I/31QYEBOqtzL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Spigen Funda Tough Armor para Samsung Galaxy A21S',
        subtitle: 'Doble Capa y Protección Extrema contra caídas - Metal Slate',
        link: 'https://www.amazon.es/Spigen-Samsung-Galaxy-Protecci%C3%B3n-Extrema/dp/B083PZMSKB/ref=sr_1_34?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=26F8FOCXJ1PPI&keywords=fundas+movil+ninja&qid=1644624711&sprefix=fundas+movil+ninja%2Caps%2C255&sr=8-34',
        imgUrl: 'https://m.media-amazon.com/images/I/51xWw9QuBrL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Original y con Licencia Oficial Harry Potter Funda de teléfono móvil para iPhone 7/8',
        subtitle: 'SE 2 Adaptación óptima a la Forma del Smartphone, Funda Protectora de Silicona',
        link: 'https://www.amazon.es/Ert-Group-sint%C3%A9tico-TPU-Silicona-Multicolor/dp/B08VZMF454/ref=sr_1_54?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=26F8FOCXJ1PPI&keywords=fundas+movil+ninja&qid=1644625076&sprefix=fundas+movil+ninja%2Caps%2C255&sr=8-54',
        imgUrl: 'https://m.media-amazon.com/images/I/7151XRhRE+L._AC_UL320_.jpg'}"></app-card>

    <app-card *ngFor="let coversMovile of coversMoviles" [card]="coversMovile"></app-card>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>

</section>

<section>
    <h3>Fundas de teléfono personalizadas </h3>
    <p>
        Fundas para celular personalizadas, Asegurar que te móvil no reciba golpes es importante pero es precavido y preventivo es todavía más importante, nosotros no dañamos, rallamos o rompemos nuestros móviles porque diversión esos son accidentes que ocurren
        a lo largo del tiempo, así nuestro teléfonos hay que protegerlos.
    </p>

    <p>Esto es algo que nadie más tiene pero también tenemos fundas de teléfono de bts, no te las pierdas.</p>
</section>