<section class="p-9-rem">
    <h1>Fundas de teléfono de ninja </h1>
    <p>
        Los teléfonos son importantes y caros, no nos podemos dar el lujo de dañarlos, rallarles la pantalla o maltratarlos, y por eso el día de hoy te ofrecemos fundas de teléfono anime con su respectiva temática de ninja, son baratos de buena calidad y
        de seguro algunos modelos te pueden interesar, lo más seguro es que al final del día compraras uno que te guste.
    </p>

    <p>
        Estas fundas telefono protegerán tu teléfono contra todo tipo de golpes, claro que eso no significa que vayas a darle coñazos a tu móvil solo para probarlos, a demás de darle protección tu teléfono lucirá mucho mas fachero de lo que era antes.
    </p>

    <p>
        Son un buen sistema antiputasos
    </p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Fundas móviles baratas</h2>
        <p>Estas fundas son la mejor defensa “antiputasos” para tu teléfono.</p>
    </div>

    <app-card [card]="{
        title: 'Cokitec Funda Xiaomi Redmi Note 11 / 11S',
        subtitle: 'Funda de telefono Manga Naruto Itachi Cara Multicolor',
        link: 'https://amzn.to/3C3QtBQ',
        imgUrl: 'https://m.media-amazon.com/images/I/61wONmaet6L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Funda de telefono ninja del equipo Naruto',
        subtitle: 'Carcasa para Vivo Y21, Y21S y Y33S Manga Naruto Team',
        link: 'https://amzn.to/3Pn4D3Y',
        imgUrl: 'https://m.media-amazon.com/images/I/61cAoecBtXL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Cokitec Carcasa para Samsung Galaxy A12',
        subtitle: 'Diseño de Manga Naruto, Color Negro',
        link: 'https://amzn.to/3zPRNpb',
        imgUrl: 'https://m.media-amazon.com/images/I/411tWNiLP6L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Cokitec Carcasa para Samsung Galaxy A12 Manga Naruto, Multicolor',
        subtitle: 'No tengo un subtitulo pero por favor cómprame',
        link: 'https://amzn.to/3bP9xca',
        imgUrl: 'https://m.media-amazon.com/images/I/41hNWLK0OaL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Spigen Funda Ultra Hybrid Compatible con iPhone 11 Pro - Verde Noche',
        subtitle: 'No tengo un subtitulo pero por favor cómprame',
        link: 'https://amzn.to/3QqmAA2',
        imgUrl: 'https://m.media-amazon.com/images/I/61PbhMOuE4L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Cokitec Funda para Xiaomi Redmi Note 10 Pro 5G',
        subtitle: 'Manga Naruto Sasuke Itachi, Multicolor',
        link: 'https://amzn.to/3bRde0Z',
        imgUrl: 'https://m.media-amazon.com/images/I/31QYEBOqtzL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Spigen Funda Tough Armor para Samsung Galaxy A21S',
        subtitle: 'Doble Capa y Protección Extrema contra caídas - Metal Slate',
        link: 'https://amzn.to/3Pfa84E',
        imgUrl: 'https://m.media-amazon.com/images/I/51xWw9QuBrL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Original y con Licencia Oficial Harry Potter Funda de teléfono móvil para iPhone 7/8',
        subtitle: 'SE 2 Adaptación óptima a la Forma del Smartphone, Funda Protectora de Silicona',
        link: 'https://amzn.to/3JUy6Bi',
        imgUrl: 'https://m.media-amazon.com/images/I/7151XRhRE+L._AC_UL320_.jpg'}"></app-card>

    <app-card *ngFor="let coversMovile of coversMoviles" [card]="coversMovile"></app-card>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>

</section>

<section>
    <h3>Fundas móviles ninjas</h3>
    <p>
        Fundas para celular personalizadas, Asegurar que te móvil no reciba golpes es importante pero es precavido y preventivo es todavía más importante, nosotros no dañamos, rallamos o rompemos nuestros móviles porque diversión esos son accidentes que ocurren
        a lo largo del tiempo, así nuestro teléfonos hay que protegerlos.
    </p>

    <p>Esto es algo que nadie más tiene pero también tenemos fundas de teléfono de bts, no te las pierdas.</p>
</section>