<section class="p-9-rem">
    <h1>Mochilas de ninjas </h1>
    <p>
        Te gustaría tener un morral extravagante con una temática impresiónate, además de que sea llamativo pero al mismo tiempo puedas mantener la expectativa y atención de los demás, pues no busques más porque en esta tienda te traemos los mejores mochilas de ninjas que puedes encontrar.
    </p>

    <p>
        No es una morral mas, es una morral ninja.
    </p>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Mochilas Tortugas ninja</h2>
        <p>
            Tan deseados y poco encontrados en el mercado de los mochilas.
        </p>
    </div>

    <app-card [card]="{
        title: 'Tortugas Ninja 2018 AS9834 Mochila Infantil, 24 cm, Multicolor',
        subtitle: 'Bolso de Tortugas ninja',
        imgUrl: 'https://m.media-amazon.com/images/I/71e5aIlhUhL._AC_SY355_.jpg',
        link: 'https://amzn.to/3pkpHNP'}"></app-card>


    <app-card [card]="{
        title: 'Montichelvo Tortugas Ninja Together Plumier de Cremallera Doble, Color Negro, 52109',
        subtitle: 'Mochila de Tortugas ninja',
        link: 'https://amzn.to/3pkpYjP',
        imgUrl:'https://images-na.ssl-images-amazon.com/images/I/A15u7pzP9FL.__AC_SX300_SY300_QL70_ML2_.jpg' }"></app-card>

    <app-card [card]="{
        title: 'Mochilas Infantiles Tortuga Ninja Mochila para Estudiantes',
        subtitle: 'Mochila Linda Personalizada para el Campus Mochila de jardín de Infantes para niños pequeños 25.4x10x30 CM',
        link: 'https://amzn.to/3QrTJeA',
        imgUrl: 'https://m.media-amazon.com/images/I/71LTD42UHZL._AC_UL320_.jpg'
      }"></app-card>

    <app-card [card]="{
        title: 'Mochila de viaje con diseño de ninja de dibujos animados',
        subtitle: 'Bolso de platano ninja',
        link: 'https://amzn.to/3zSuvPo',
        imgUrl: 'https://m.media-amazon.com/images/I/71CkKia8PrL._AC_UL320_.jpg'}"></app-card>


</section> -->
 
<section class="section__card-grid">
    <div class="full-grid">
        <h2>Mochilas Naruto ninja</h2>
        <p>
            Mochila ninja de la serie más popular entre los niños.
        </p>
    </div>

    <app-card [card]="{
        title: 'The Naruto Ramen Mini Mochila',
        subtitle: '',
        link: 'https://amzn.to/3zZAu4R',
        imgUrl: 'https://m.media-amazon.com/images/I/61NO5W6oyHS._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'NARUTO SHIPPUDEN – Mochila Konoha',
        subtitle: '',
        link: 'https://amzn.to/3Qp1gdT',
        imgUrl: 'https://m.media-amazon.com/images/I/81iR733LeVL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Mochila con logo de akatsuki',
        subtitle: 'Naruto T434-916, Mochila Unisex Niños, Color, Talla Única',
        link: 'https://amzn.to/3Al5KNi',
        imgUrl: 'https://m.media-amazon.com/images/I/71byDVT84EL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Mochila Escolar Americana Naruto',
        subtitle: 'Compartimento Principal y Bolsillo Frontal - Portaordenador e Interior Forrado - Tirantes y Espalda Acolchados - 40 x 31 x 13 cm',
        link: 'https://amzn.to/3SJSXLo',
        imgUrl: 'https://m.media-amazon.com/images/I/71XPYrO+0OL._AC_UL320_.jpg'
      }"></app-card>

    <app-card [card]="{
        title: 'Naruto y Kakashi en una mochila',
        subtitle: 'Naruto T434-915, Mochila Unisex Niños, Color, Talla Única',
        link: 'https://amzn.to/3C1MBRM',
        imgUrl: 'https://m.media-amazon.com/images/I/71pDukl3jZL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Mochila de Naruto',
        subtitle: 'Meridiem Games Naruto Switch Mochila Naruto',
        link: 'https://amzn.to/3Pqp0Nq',
        imgUrl: 'https://m.media-amazon.com/images/I/71891y10USL._AC_UL320_.jpg' }"></app-card>

</section> -->


<section>
    <h3>Los mejores mochilas ninjas</h3>
    <p>
        Tenemos una gran colección de bolso con temática de ninja a muy buen precio y de la mejor calidad que puedes encontrar, para que así disfrutes de lo mejor que te frecemos aquí.
    </p>

</section>