<section class="p-9-rem">
    <h1>Zapatos {{ getName }} y para {{ getName.slice(3) }} </h1>

    <p>
        Para un {{ getName.slice(3).replace('s', '') }} el sigilo es muy importante, para ello es necesario tener el calzado apropiado, y en esta oportunidad eso es lo que te traemos, el mejor calzado {{ getName.replace('s','') }} que puedes tener eso es lo que
        el día de hoy te vamos a conceder.
    </p>

    <p>
        Solo te traemos zapatos de hombre para {{ getName.slice(3) }} No es que seamos machistas, es que los de mujeres ya senos nos agotaron, también hay zapatos de moda con esta respectiva temática, puedes practicar como ser un maestro shinobi o solo lucir
        genial con fantásticos tu calzado {{ getName }}, forma una nueva tendencia con solo el uso de los mismos.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Zapatos baratos</h2>
        <p>
            Zapatos de niños reales {{ getName.slice(3).replace('s','') }}, para no ser descubierto en plena huida.
        </p>
    </div>

    <app-card [card]="{
        title: 'Artes Marciales Ninja Exterior',
        subtitle: 'Tobillo Longitud Tabi Botas',
        link: 'https://www.amazon.es/Artes-Marciales-Exterior-Altura-Tobillo/dp/B003CSMXUM/ref=sr_1_5?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2GX4EAIKPU9KN&keywords=zapatos+ninja&qid=1644535915&sprefix=zapatos+ninja%2Caps%2C491&sr=8-5',
        imgUrl: 'https://m.media-amazon.com/images/I/713t7gN+IYS._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Wacoku, Tabi de ninja para práctica al aire libre, altura media',
        subtitle: 'No tengo un subtitulo pero por favor cómprame',
        link: 'https://www.amazon.es/Artes-Marciales-Ninja-Exterior-Largo/dp/B003CMBFWU/ref=sr_1_7?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2GX4EAIKPU9KN&keywords=zapatos+ninja&qid=1644535915&sprefix=zapatos+ninja%2Caps%2C491&sr=8-7',
        imgUrl: 'https://m.media-amazon.com/images/I/51rpjpFhK7S._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Playwell Ninja de salón',
        subtitle: 'Sujeto DE Ante Suela Sujeto Botas',
        link: 'https://www.amazon.es/Playwell-Martial-Interior-Calcetines-Zapatos/dp/B08BG6GMFM/ref=sr_1_17?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2GX4EAIKPU9KN&keywords=zapatos+ninja&qid=1644535915&sprefix=zapatos+ninja%2Caps%2C491&sr=8-17',
        imgUrl: 'https://m.media-amazon.com/images/I/51408jBqJpL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Blitz Outdoor',
        subtitle: 'Botas Tabi Unisex adulto',
        link: 'https://www.amazon.es/Blitz-Outdoor-Tabi-Botas-UK/dp/B0842SRX83/ref=sr_1_47?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2GX4EAIKPU9KN&keywords=zapatos+ninja&qid=1644535915&sprefix=zapatos+ninja%2Caps%2C491&sr=8-47',
        imgUrl: 'https://m.media-amazon.com/images/I/51QgbN3kBrL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Artes Marciales Ninja Exterior',
        subtitle: 'Tobillo Longitud Tabi Botas',
        link: 'https://www.amazon.es/Artes-Marciales-Exterior-Altura-Tobillo/dp/B003CSMXUM/ref=sr_1_9?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=39O12P4ITKDJV&keywords=zapatos+de+ninja&qid=1644536226&sprefix=zapatos+de+ninja%2Caps%2C576&sr=8-9',
        imgUrl: 'https://m.media-amazon.com/images/I/713t7gN+IYS._AC_UL320_.jpg'}"></app-card>

</section>

<section>
    <h3>¿Porque comprar zapatos para {{ getName.slice(3).replace('s', '') }}?</h3>
    <p>
        Como que ¿Por qué? Queréis que te maten en la mitad de la misión o que, tu honor de perdería si llevaras zapatos diferentes a la guerra, los zapatos deportivos son importantes, mira que son más útiles que kunais, y que Saura en naruto, A parte son baratos no?
    </p>

    <p>
        De verdad que hay que tener buenos zapatos ya sea para lucir o para ir a darte coñazos con los chicos del barrio, pero ya sea el caso estos tienen buen precio y son de buena calidad.
    </p>
</section>