<section class="p-9-rem">
    <h1>
        Sudaderas {{ getName }}
    </h1>
    <p>
        Protegerse del sol es bueno, pero hacerlo mientras mantienes el estilo es todavía mejor es por eso que el día de hoy te traemos las mejores sudaderas para hombre y también para mujer, incluso muchas de estas son unisex, y son lo mejor que puedes encontrar
        en todo del mercado para {{ getName.slice(3) }}, muestra tu look con lo mejor de lo mejor y eso solo lo encontraras en {{ nameSite }}
    </p>

    <p>
        Conoce la personalidad que puede tener un shinobi plasmado en estas chaquetas, tu puedes ser el origen de tanta genialidad desbordada si tan solo te atreves a comprar una de estas, no las quieres para ti ¿Acaso quieres sudaderas para revender?
    </p>

    <p>
        No sabes porque comprar una de esta una de estas bueno porque aquí tienes a tu disposición sudaderas deportivas, sudaderas negras, también para damas deportivas, para hombre, para mujer, playeras y un enorme etc. es un arte grabado en una prenda.
    </p>

    <p>¿No te dan ganas comprarlas?</p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>sudaderas de moda</h2>
        <p style="margin-bottom: 0 !important;">No solo te protegeras del sol, si no que serás el más perron.</p>
    </div>

    <app-card [card]="{
        title: 'LEGO Sudadera para Niños',
        subtitle: 'Compralo ahora',
        link: 'https://www.amazon.es/LEGO-Ninjago-Jungen-Sweatshirt-Sudadera/dp/B08LZV37NH/ref=sr_1_3?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=20GZ9JLLMJ1WY&keywords=sudaderas+ninja&qid=1644538129&sprefix=sudaderas+ninjas%2Caps%2C270&sr=8-3',
        imgUrl: 'https://m.media-amazon.com/images/I/717dJ7pcvyS._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'LEGO Sudadera para Niños',
        subtitle: 'Compralo ahora',
        link: 'https://www.amazon.es/LEGO-Ninjago-Jungen-Sweatshirt-Sudadera/dp/B08M1XFNVZ/ref=sr_1_4?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=20GZ9JLLMJ1WY&keywords=sudaderas+ninja&qid=1644538129&sprefix=sudaderas+ninjas%2Caps%2C270&sr=8-4',
        imgUrl: 'https://m.media-amazon.com/images/I/8104NkHdA3L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Metal Gear Solid Cyborg Ninja',
        subtitle: 'Men is Hooded Sweatshirt',
        link: 'https://www.amazon.es/Metal-Solid-Cyborg-Hooded-Sweatshirt/dp/B07P9RSS3S/ref=sr_1_19?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=20GZ9JLLMJ1WY&keywords=sudaderas+ninja&qid=1644538129&sprefix=sudaderas+ninjas%2Caps%2C270&sr=8-19',
        imgUrl: 'https://m.media-amazon.com/images/I/61nT9pjqRqL._AC_UL320_.jpg'}"></app-card>

    

    <app-card [card]="{
        title: 'Urban Backwoods Ninjas of IGA',
        subtitle: 'Sudadera Suéter para Niños Niñas Pullover Schwarz',
        link: 'https://www.amazon.es/Urban-Backwoods-Ninjas-Sudadera-Pullover/dp/B07K1NN3DD/ref=sr_1_21?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=20GZ9JLLMJ1WY&keywords=sudaderas+ninja&qid=1644538129&sprefix=sudaderas+ninjas%2Caps%2C270&sr=8-21',
        imgUrl: 'https://m.media-amazon.com/images/I/51WtaCm9EpL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'LEGO Ninjago Jungen Hoodie',
        subtitle: 'Sudadera con Capucha para Niños',
        link: 'https://www.amazon.es/LEGO-Ninjago-Jungen-Sudadera-Capucha/dp/B08M21JFF8/ref=sr_1_23?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=20GZ9JLLMJ1WY&keywords=sudaderas+ninja&qid=1644538129&sprefix=sudaderas+ninjas%2Caps%2C270&sr=8-23',
        imgUrl: 'https://m.media-amazon.com/images/I/71n7zaN+gKS._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Desconocido Revenge Is Sweet Ninja',
        subtitle: 'Pixel Art Sudadera con Capucha Unisex',
        link: 'https://www.amazon.es/Desconocido-Revenge-Sudadera-Capucha-X-Small/dp/B089MBR73G/ref=sr_1_26?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=20GZ9JLLMJ1WY&keywords=sudaderas+ninja&qid=1644538129&sprefix=sudaderas+ninjas%2Caps%2C270&sr=8-26',
        imgUrl: 'https://m.media-amazon.com/images/I/61Bu8tcO8JL._AC_UL320_.jpg'}"></app-card>


    <app-card *ngFor="let sweatShirt of sweatShirts" [card]="sweatShirt"></app-card>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>

</section>

<section>
    <h3>Sudaderas básicas baratas</h3>
    <p>
        No solo básicas sino que también tenemos a la venta sudaderas unisex baratas, que son de calidad, tienen estilo, muchas personas aman a los {{ getName.slice(3) }}, y estoy seguro que tu también los amas porque si no, no estarías buscando sudaderas de
        niñas en esta página, perdón {{ getName }}.
    </p>

    <p>
        Si no las vas a comprar entonces te ofrezco otra cosa, como camisetas, zapatos, pijamas, disfraces, tenemos una gran variedad de artículos con esta temática así que si no te los quieres perder, te sugiero vallas al hagas clic en el menú de la página para
        ver todos nuestros artículos por categorías.
    </p>
</section>