<section class="p-9-rem">
    <h1>
        Vinilos {{ getName }}
    </h1>

    <p>
        Estoy muy seguro que has buscado pero no has encontrado los vinilos {{ getName }}, no tienes que seguir perdiendo tu tiempo, pues ahora mismo te traemos una serie de vinilos shinobis para que puedas hacer todas las decoraciones que te plazcan y dejar
        tu marca regada por todas partes.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Vinilos para dar estilos {{ getName }}</h2>
        <p>
            Estos decoradores son perfectos para marcan una tendencia completa.
        </p>
    </div>
    <app-card-home *ngFor="let vinyl of vinyls" [card]="vinyl"></app-card-home>
</section>


<section>
    <h3>¿Por qué comprar vinilos {{ getName.replace('s','') }}?</h3>
    <p>
        Porque si eres fanático loco de los {{ getName.replace('s','') }} como yo, de seguro vas a querer tener estos fabulosos vinilos {{ getName.replace('s','') }}, porque vas a poder hacer cambios visuales en los objetos que tú quieras, ya es tiempo de que
        vallas metiendo todo lo que puedas a los {{ getName.slice(3) }} en tu vida, eso es lo que un fanático de primera haría y de seguro mejorara tu día a día.
    </p>
</section>