a {
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

svg {
    width: 20px;
    color: white;
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width:800px) {
    .menu-test {
        display: none;
    }
    .btn-menu {
        position: fixed;
        bottom: 20px;
        right: 5px;
    }
    .menu-icon {
        color: rgb(21, 21, 21);
    }
}

@media (min-width:801px) {
    .menu-icon {
        display: none;
    }
    .example-spacer {
        flex: 1 1 auto;
    }
}