<section class="p-9-rem">
    <h1>Sábanas {{ getName }}</h1>
    <p>
        Estoy seguro de lo mucho que has buscado, pero a pesar de todo no has encontrado las preciadas cobijas {{ getName }}, pues no pierdas tu tiempo buscando más el día de hoy las tenemos en oferta, ahora puedes comprar tus tan anheladas sábanas ninjago con
        su respectiva temática {{ getName }}, es el momento de que dormir tranquilamente con una sábanas baratas que estén cumplan todos tus estándares tanto en diseño como el tema.
    </p>


    <p>¿No te dan ganas comprarlas?</p>
</section>


<section class="section__card-grid">

    <div class="full-grid">
        <h2>Sábanas lego ninjago</h2>
        <p>
            Juegos de sábanas de cama. pues claro, sino de que más, ya es tiempo de que duermas con lo mejor y eso solo lo tenemos nosotros.
        </p>
    </div>

    <app-card-home *ngFor="let sheet of sheets" [card]="sheet"></app-card-home>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>
</section>


<section>
    <h3>Sábanas infantiles tortugas ninjago</h3>
    <p>
        Porque ya es tiempo de que pienses en lo que tú mereces, en lo que tú quieres, en lo que el mundo te debe, es por eso que debes comprar estas sábanas baratas, no lo pienses tanto, tu tan solo hazlo.
    </p>
</section>