<section class="p-9-rem">
    <h1>Camisetas ninjas</h1>
    <p>
        Llevar una prenda única significa tener que destacar entre los demás y que mejor forma de hacerlo con una camiseta de moda, demuestra que tienes el mejor look de tu zona. La moda cambia contantemente, las camisetas playeras originales de ninjas no
        lo hacen.
    </p>

    <p>
        Viste bien y luce genial con estas camisetas deportiva o con una franela playeras de alta calidad, lo mejor que las a encontrar en moda para ninjas. Tenemos una colección divina de franelas playeras para caballeros a tu disposición, son como camiseta traída de las estrellas.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Camisetas ninja manga corta</h2>
        <p style="margin-bottom: 0 !important;">
            Busca y encuentra una camiseta adecuada para seleccionar como tu favorita
        </p>
    </div>

    <app-card [card]="{
        title: '4 ninjas como equipo Kidz',
        subtitle: 'Ninja Kidz - Camiseta color rojo de manga corta para niños (100% algodón)',
        link: 'https://www.amazon.es/Ninja-Kidz-Camiseta-manga-algod%C3%B3n/dp/B09BBHGBPK/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2NEHIQZPBR81I&keywords=camisetas+ninja+manga+corta&qid=1659914421&s=apparel&sprefix=camisetas+ninja+manga+corta%2Capparel%2C484&sr=1-1',
        imgUrl: 'https://m.media-amazon.com/images/I/51SCkD3M7xL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: 'Camiseta de minato namikaze',
        subtitle: 'Regalos Nerd - Camiseta color blanca Manga Corta - Naru Ninja Anime T-Shirt',
        link: 'https://www.amazon.es/Regalos-Nerd-Camiseta-T-Shirt-Blanco/dp/B08J82YZSV/ref=sr_1_3?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2NEHIQZPBR81I&keywords=camisetas+ninja+manga+corta&qid=1659914421&s=apparel&sprefix=camisetas+ninja+manga+corta%2Capparel%2C484&sr=1-3',
        imgUrl: 'https://m.media-amazon.com/images/I/51B1DwRQt9L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'El ninja Kidz',
        subtitle: 'Ninja Kidz - Camiseta color rosa de manga corta para niños, 100% algodón, para niñas',
        link: 'https://www.amazon.es/Ninja-Kidz-Camiseta-manga-algod%C3%B3n/dp/B09BBKJ3JZ/ref=sr_1_4?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2NEHIQZPBR81I&keywords=camisetas+ninja+manga+corta&qid=1659914421&s=apparel&sprefix=camisetas+ninja+manga+corta%2Capparel%2C484&sr=1-4',
        imgUrl: 'https://m.media-amazon.com/images/I/51A+Q4RAH2L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Camiseta color azul con la cabeza de ninja dibujado',
        subtitle: 'Popgear Ninja Icons-Camiseta para Niños, Color Azul Real Moda',
        link: 'https://www.amazon.es/Camiseta-mercanc%C3%ADa-oficial-camiseta-cumplea%C3%B1os/dp/B08NCDKTRT/ref=sr_1_18?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2NEHIQZPBR81I&keywords=camisetas+ninja+manga+corta&qid=1659914421&s=apparel&sprefix=camisetas+ninja+manga+corta%2Capparel%2C484&sr=1-18',
        imgUrl: 'https://m.media-amazon.com/images/I/71+befcOxnL._AC_UL320_.jpg' }"></app-card>

    <app-card [card]="{
        title: 'Camiseta color verde de lego ninjago',
        subtitle: 'LEGO Ninjago Jungen T-Shirt Camiseta para Niños',
        link: 'https://www.amazon.es/LEGO-Ninjago-Jungen-T-Shirt-Camiseta/dp/B095WZX3CY/ref=sr_1_32?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2NEHIQZPBR81I&keywords=camisetas+ninja+manga+corta&qid=1659914421&s=apparel&sprefix=camisetas+ninja+manga+corta%2Capparel%2C484&sr=1-32',
        imgUrl: 'https://m.media-amazon.com/images/I/61RIn8UR2oL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Camiseta color Negro de Kakashi Hatake',
        subtitle: 'Naruto Camiseta de Hombre Kakashi Hatake algodón Negro',
        link: 'https://www.amazon.es/Naruto-Camiseta-Hombre-Kakashi-algod%C3%B3n/dp/B08R41SYSP/ref=sr_1_33?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2NEHIQZPBR81I&keywords=camisetas+ninja+manga+corta&qid=1659914421&s=apparel&sprefix=camisetas+ninja+manga+corta%2Capparel%2C484&sr=1-33',
        imgUrl: 'https://m.media-amazon.com/images/I/81yx6nBOrQL._AC_UL320_.jpg'}"></app-card>
    
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Camisetas ninja sin manga</h2>
        <p style="margin-bottom: 0 !important;">
            Buenas opciones en camisetas ninjas para ir al gimnasio y mostrar tus músculos en los brazos y atraer las miradas de lugar.
        </p>
    </div>


    <app-card [card]="{
        title: 'Camiseta ninja color Negro unisex',
        subtitle: 'Revenge Is Sweet Ninja Pixel Art Camiseta sin Mangas sin Mangas para Mujer',
        link: 'https://www.amazon.es/Revenge-Sweet-Ninja-Camiseta-Mangas/dp/B089564VK2/ref=sr_1_9?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1MU0F48WECU75&keywords=camisetas+ninja+sin+manga&qid=1659915254&s=apparel&sprefix=camisetas+ninja+si+manga%2Capparel%2C383&sr=1-9',
        imgUrl: 'https://m.media-amazon.com/images/I/615cugAdOQL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Camiseta ninja color blanco unisex',
        subtitle: 'Revenge Is Sweet Ninja Pixel Art Camiseta sin Mangas sin Mangas para Hombre',
        link: 'https://www.amazon.es/Revenge-Camiseta-Mangas-Hombre-Medium/dp/B08BLW134N/ref=sr_1_13?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1MU0F48WECU75&keywords=camisetas+ninja+sin+manga&qid=1659915254&s=apparel&sprefix=camisetas+ninja+si+manga%2Capparel%2C383&sr=1-13',
        imgUrl: 'https://m.media-amazon.com/images/I/61Oe6uevO0L._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: 'Camiseta ninja color Negro',
        subtitle: 'Japan Ninja Samurai Mask Art Camiseta sin Mangas para Mujer',
        link: 'https://www.amazon.es/Japan-Samurai-Camiseta-Mangas-X-Large/dp/B08C5GZMC3/ref=sr_1_15?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1MU0F48WECU75&keywords=camisetas+ninja+sin+manga&qid=1659915254&s=apparel&sprefix=camisetas+ninja+si+manga%2Capparel%2C383&sr=1-15',
        imgUrl: 'https://m.media-amazon.com/images/I/61O3D+B3EnL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: 'Camiseta ninja color Negro para mujer',
        subtitle: 'Urban Backwoods Ninja I Mujer Camiseta Sin Mangas Women Tank Top',
        link: 'https://www.amazon.es/Ninja-Mujer-Camiseta-Mangas-Tank/dp/B06X6MW9J6/ref=sr_1_19?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1MU0F48WECU75&keywords=camisetas+ninja+sin+manga&qid=1659915254&s=apparel&sprefix=camisetas+ninja+si+manga%2Capparel%2C383&sr=1-19',
        imgUrl: 'https://m.media-amazon.com/images/I/51boa78G-0L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Urban Backwoods Hannya Mask Mujer Camiseta Sin Mangas Women Tank Top',
        subtitle: '',
        link: 'https://www.amazon.es/Urban-Backwoods-Hannya-Camiseta-Mangas/dp/B0842BYKFG/ref=sr_1_37?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1MU0F48WECU75&keywords=camisetas+ninja+sin+manga&qid=1659915254&s=apparel&sprefix=camisetas+ninja+si+manga%2Capparel%2C383&sr=1-37',
        imgUrl: 'https://m.media-amazon.com/images/I/51kR6R0BZvL._AC_UL320_.jpg'}"></app-card>

</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Camisetas ninja manga larga</h2>
        <p style="margin-bottom: 0 !important;">
            Estilos mordernos y espectaculares diseños en camisetas ninjas manga larga para pasar las temporadas frías o simplemente para no proteger tus brazos del sol.
        </p>
    </div>

    <app-card [card]="{
        title: 'Desigual T-Shirt Ninja Camiseta de Manga Larga para Niños',
        subtitle: 'Camiseta ninja color roja para niños',
        link: 'https://www.amazon.es/Desigual-T-Shirt-Ninja-Camiseta-Manga/dp/B07N8KJ8ZY/ref=sr_1_8?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=ZNTVNBY8O6S2&keywords=camisetas+ninja+manga+larga&qid=1659915983&s=apparel&sprefix=camisetas+ninja+manga+larga%2Capparel%2C327&sr=1-8',
        imgUrl: 'https://m.media-amazon.com/images/I/615WyNGdN-L._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Urban Backwoods The Last Ninja Women T-Shirt Mujer Camiseta de Manga Larga',
        subtitle: 'Camiseta ninja manga larga color roja ',
        link: 'https://www.amazon.es/Ninja-Mujer-Woman-T-Shirt-Manga/dp/B073QCKPLH/ref=sr_1_21?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=ZNTVNBY8O6S2&keywords=camisetas+ninja+manga+larga&qid=1659915983&s=apparel&sprefix=camisetas+ninja+manga+larga%2Capparel%2C327&sr=1-21',
        imgUrl: 'https://m.media-amazon.com/images/I/61BSDTOA4yL._AC_UL320_.jpg'}"></app-card>


    <app-card [card]="{
        title: 'Urban Backwoods Ninjas of IGA Camisetas de Manga Larga T-Shirt para Niños Niñas',
        subtitle: 'Camiseta de estrellas ninja color Negro',
        link: 'https://www.amazon.es/Ninjas-Camisetas-Manga-Larga-T-Shirt/dp/B07LDHTJ5H/ref=sr_1_20?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=ZNTVNBY8O6S2&keywords=camisetas+ninja+manga+larga&qid=1659915983&s=apparel&sprefix=camisetas+ninja+manga+larga%2Capparel%2C327&sr=1-20',
        imgUrl: 'https://m.media-amazon.com/images/I/51dbf2DUYNL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'LEGO Ninjago Longsleeve Shirt Camiseta para Niños',
        subtitle: 'Camiseta de lego ninjago manga larga color roja',
        link: 'https://www.amazon.es/LEGO-Ninjago-Longsleeve-Shirt-Camiseta/dp/B08DP2LRWP/ref=sr_1_26?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=ZNTVNBY8O6S2&keywords=camisetas+ninja+manga+larga&qid=1659915983&s=apparel&sprefix=camisetas+ninja+manga+larga%2Capparel%2C327&sr=1-26',
        imgUrl: 'https://m.media-amazon.com/images/I/81J5n-UWpTL._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'Spotted Zebra Camisetas de Manga Larga Niña Niñas Grandes, Paquetes Múltiples',
        subtitle: 'Camiseta gato ninja manga larga',
        link: 'https://www.amazon.es/Spotted-Zebra-Long-Sleeve-Novelty-T-Shirts/dp/B07Q396NFC/ref=sr_1_27?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=ZNTVNBY8O6S2&keywords=camisetas+ninja+manga+larga&qid=1659915983&s=apparel&sprefix=camisetas+ninja+manga+larga%2Capparel%2C327&sr=1-27',
        imgUrl: 'https://m.media-amazon.com/images/I/81lSp3Q7Q8S._AC_UL320_.jpg'}"></app-card>

    <app-card [card]="{
        title: 'LEGO Ninjago Longsleeve Shirt Camiseta para Niños',
        subtitle: 'Camiseta ninjago color azul manga larga',
        link: 'https://www.amazon.es/LEGO-Ninjago-Longsleeve-Shirt-Camiseta/dp/B08DP3YCMZ/ref=sr_1_29?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=ZNTVNBY8O6S2&keywords=camisetas+ninja+manga+larga&qid=1659915983&s=apparel&sprefix=camisetas+ninja+manga+larga%2Capparel%2C327&sr=1-29',
        imgUrl: 'https://m.media-amazon.com/images/I/81eNEi+1+lL._AC_UL320_.jpg'}"></app-card>
</section>

<section>
    <h3>Camisetas básicas ninjas</h3>

    <p>
        Chico no, lo que pasa es que estas camisetas ¿no son de este mundo?, son tan lindas que parecen traídas del cielo, si no fuera podre les duro que las compro, pero tú no debes dejar pasar esta oportunidad, si no que es ahora mismo cuando debes aprovechar
        en comprar estas camisetas para hombre o de mujer.
    </p>
</section>