<section class="p-9-rem">
    <h1>Camisetas {{ getName }}</h1>
    <p>
        Llevar una prenda única significa tener que destacar entre los demás y que mejor forma de hacerlo con una camiseta de moda, demuestra que tienes el mejor look de tu zona. La moda cambia contantemente, las camisetas playeras originales {{ getName }} no
        lo hacen.
    </p>

    <p>
        Viste bien y luce genial con estas camisetas deportiva o con una franela playeras de alta calidad, lo mejor que las a encontrar en moda para {{ getName.slice(3) }}.
    </p>

    <p>
        ¿No te dan ganas comprarlas?
    </p>
</section>

<section class="section__card-grid">
    <div class="full-grid">
        <h2>Playeras para hombres modernas</h2>
        <p style="margin-bottom: 0 !important;">
            Tenemos una colección divina de franelas playeras para caballeros a tu disposición, son como camiseta traída de las estrellas.
        </p>
    </div>

    <app-card-home *ngFor="let tsShirt of tsShirts" [card]="tsShirt"></app-card-home>

    <div class="full-grid text-c" [hidden]="hiddenutton">
        <button mat-raised-button color="primary" (click)="clickButton()">Ver más...</button>
    </div>

</section>

<section>
    <h3>Camisetas básicas baratas</h3>

    <p>
        Chico no, lo que pasa es que estas camisetas ¿no son de este mundo?, son tan lindas que parecen traídas del cielo, si no fuera podre les duro que las compro, pero tú no debes dejar pasar esta oportunidad, si no que es ahora mismo cuando debes aprovechar
        en comprar estas camisetas para hombre o de mujer.
    </p>
</section>